*{
    box-sizing: border-box;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.box {
    
    background: rgb(47,27,6);
    background: linear-gradient(90deg, rgba(47,27,6,1) 0%, rgba(111,66,15,0.765661252900232) 100%);
}
.box__inner {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.item {
    text-align: center;
}
.number {
    color:#fff;
    font-size: 50px;
    font-family: sans-serif;
}
.text {
    color: rgb(155, 114, 33);
    text-transform: uppercase;
    margin-bottom: 10px;
}
.line {
    width: 40px;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
}
i.fa{
    font-size: 50px;
    color: rgb(155, 114, 33);
}

